<h1>Contact Us</h1>
<p>Ini halaman contact us</p>
<div class="row">
    <div class="col">
        <div class="mb-3">
            <label for="nama" class="form-label">Nama:</label>
            <input type="text" class="form-control" id="nama" aria-describedby="basic-addon3 basic-addon4" aria-label="nama">
        </div>
        <div class="mb-3">
            <label for="telp" class="form-label">No Telp:</label>
            <input type="text" class="form-control" id="telp" aria-describedby="basic-addon3 basic-addon4" aria-label="nama">
        </div>
        <div class="mb-3">
            <label for="pesan" class="form-label">Pesan:</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button class="btn btn-primary">Kirim</button>
    </div>
    <div class="col">
        <img src="./img/map.jpg" class="w-100" alt="">
    </div>
</div>